/* ------------------------------------------------ */
/*		V   = variable		, F   = Fixed			*/
/*		Sf 	= Serif			, Sn  = Sans-Serif		*/
/*		P   = Plain Type	, B	  = Bold			*/
/*		Lt	= Lite Color	, Dk  = Dark Color		*/
/*			(White)					(Black)			*/
/*		Var = Variant Color	,						*/
/*			(Red)									*/
/* ------------------------------------------------ */
/* ------------- Variable Types ------------------- */


BODY
{
margin-top:2px;
margin-left:2px;
}

P, UL, BLOCKQUOTE, .VSfP, .VSfB
{
color:#000000;
font-family: times new roman, times, minion web, serif;			
font-weight:normal;
font-size:.85em;
}

.VSfB {font-weight:bold;}

H1, H2, H3, H4
{
color:#000000;
font-family:arial, helvetica, sans-serif;
font-weight:bold;
}

H1 {font-size:1.4em;}
H2 {font-size:1.2em;}
H3 {font-size:1em;}
H4 {font-size:.83em;}

.VSnP, .VSnB, .FullStory
{
color:#000000;
font-family:arial, helvetica, sans-serif;		
font-weight:normal;
font-size:.75em;
}

.VSnB, .FullStory
{
font-weight:bold;
}

UL
{
line-height:1.4em;
}

/* ----------------- Fixed Types ------------------ */
.FSnPSmLt			{
					color:				#ffffff;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		normal;
					font-size:			11px;
					}
.RelHead,
.FSnPSmDk			{
					color:				#000000;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		normal;
					font-size:			11px;					
					}
.RelLink,
.FSnPMdDk			{
					color:				#000000;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		normal;
					font-size:			13px;					
					}
.FSnBSmLt			{
					color:				#ffffff;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		800;
					font-size:			11px;
					}
.FSnBMdLt			{
					color:				#ffffff;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		800;
					font-size:			13px;
					}					
.FSnBSmDk			{
					color:				#000000;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		800;
					font-size:			11px;					

					}
.MStories,
.FSnBMdDk			{
					color:				#000000;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		800;
					font-size:			14px;					
					}

.FSnBLgDk			{
					color:				#000000;
					font-family:		arial, helvetica, sans-serif;		
					font-weight:		800;
					font-size:			18px;					
					}
/* ------------- Color Variations ----------------- */
.VSn				{
					font-family:		arial, helvetica, sans-serif;							
					}
/* ------------------ FORM TYPES ------------------ */
.FormLt1			{
					font-family:		verdana, courier new, courier, sans-serif;
					font-size:			10px;
					color:				#000000;
					font-weight:		normal;
					background-color:	#ffffff;
					}
.FormDk1			{
					font-family:		verdana, courier new, courier, sans-serif;
					font-size:			10px;
					color:				#ffffff;
					font-weight:		normal;
					background-color:	#999999;
					}
/* ---------------- NavBar -------------------- */					
.Nav
{
line-height:110%;
}

.NvSmBDk			{
					font-family:		helvetica, arial, verdana;
					font-size:			11px;	
					font-weight:		bold;
					color:				#000000;
					}
.NvSmPDk			{
					font-family: 		helvetica, arial, verdana;
					font-size: 			11px;
					font-weight:		normal;
					color:				#000000;			
					}
.NvSmBVar			{
					font-family: 		helvetica, arial, verdana;
					font-size: 			11px;
					font-weight:		bold;
					color:				#990000;			
					}
.NvSmPLt			{
					font-family: 		helvetica, arial, verdana;
					font-size: 			11px;
					font-weight:		normal;
					color:				#ffffff;													
					}								
.NvSmBLt			{
					font-family: 		helvetica, arial, verdana;
					font-size: 			11px;
					font-weight:		bold;
					color:				#ffffff;													
					}

/* ----------------- Banners --------------------- */
.Bnr1,
.Bnr2,
.Bnr3
{
font-family:		arial,helvetica,sans-serif;
font-weight:		bold;
font-size:			20px;
color:				#666666;
text-decoration:	none;
}
.Bnr1,
.Bnr1:visited,
.Bnr2,
.Bnr2:visited,
.Bnr3,
.Bnr3:visited
{color:#666666;}
.Bnr1:hover,
.Bnr1:visited:hover,
.Bnr2:hover,
.Bnr2:visited:hover,
.Bnr3:hover,
.Bnr3:visited:hover
{color:#990000;}
/* --------------------- NewsNet --------------------- */
.NNTxt,
.NNTxtHome,
.NNTxtHome2,
.NNMore,
.NNSection,
.NNSecMain,
.NNTitle
{
font-family:arial, helvetica, sans-serif;
font-size:11px;
color:#000000;
}
.NNTxtHome,
.NNSection
{font-size:13px;}
.NNSecMain
{font-weight:bold;}
/* ----------------- Bullets & Boxes -------------- */
.BoxTitle,
.BoxTxt,
.BoxStory,
.BoxStoryLt,
.BoxTxtLt,
.BlLink,
.BlSnBVar,
.BlSnPVar
{
font-family:arial, helvetica, sans-serif;		
font-weight:normal;
font-size:13px;					
}
.BlSnBVar,					
.BlSnPVar
{color:#cc0000;}

.BlSnBVar
{font-weight:bold;}

.BoxTitle
{
font-size:13px;
font-weight:bold;
color:#ffffff;
}

.BoxStory
{
font-color:#000000;
font-size:12px;
}

.BoxStoryLt
{
font-color:#ffffff;
font-size:12px;
}

.BoxTxt
{
font-color:#000000;
font-size:12px;
}

.BoxTxtLt
{
font-color:#ffffff;
font-size:12px;
}


				
/* --------------------- Story Stuff --------------------- */
.videobox
{
color:#000000;
font-family:verdana, arial, helvetica, sans-serif;		
font-weight:normal;
font-size:10px;					
}

.BackToTop
{
color:				#000099;
font-family:		arial, helvetica, sans-serif;		
font-weight:		800;
font-size:			11px;					
}

.BackToTop:visited
{color:#000099;}
.BackToTop:hover,
.BackToTop:visited:hover
{color:#FF0000;}
					
.caption
{
color:#000000;
font-family:arial, helvetica, sans-serif;		
font-weight:normal;
font-size:10px;
}
					
.byline
{
color:#000000;
font-family:arial, helvetica, sans-serif;		
font-weight:normal;
font-size:10px;
font-style:italic;
}
					
.timestamp
{
color:#000000;
font-family:arial, helvetica, sans-serif;		
font-weight:normal;
font-size:11px;					
}

.rightsreserved
{
color:#000000;
font-family:verdana, arial, helvetica, sans-serif;		
font-weight:normal;
font-size:10px;	
font-style:italic;					
}
.wire
{
color:#000000;
font-family: arial, helvetica, sans-serif;		
font-weight:normal;
font-size:10px;	
font-style:italic;					
}



.FSnPSmDkI
{
color:#000000;
font-family:arial, helvetica, sans-serif;		
font-weight:normal;
font-size:11px;		
font-style:italic;				
}
/* --------------------- Roof --------------------- */
.RfStory,
.RfMain
{
font-family:		arial, helvetica, verdana;
font-size: 			12px;
font-weight:		bold;
color:				#ffffff;
text-decoration:	none;
}

.RfMain
{font-size:12px;}
/* -------------------- Link ---------------------- */
A
{
color:#000099;
}

A:active,
.NvSmBVar:hover
{color:#ff0000;}

A:visited
{color:#999999;}

.BlSnPVar:visited,
.BlSnBVar:visited 
{color:#cc0000;}

.RfStory:visited,
.RfMain:visited,
.NvSmBLt:visited,
.NvSmPLt:visited
{color:#ffffff;}

.NvSmPDk:visited,
.NvSmBDk:visited,
.NNTitle:visited
{color:#000000;}

A:hover,
A:visited:hover,
.BlSnBVar:hover,
.BlSnBVar:visited:hover,
.BlSnPVar:hover,
.BlSnPVar:visited:hover,
.RfStory:hover,
.RfStory:visited:hover,
.RfMain:hover,
.RfMain:visited:hover,
.NvSmBLt:hover,
.NvSmBLt:visited:hover,
.NvSmPLt:hover,
.NvSmPLt:visited:hover,
.NvSmPDk:hover,
.NvSmPDk:visited:hover,
.NvSmBDk:hover,
.NvSmBDk:visited:hover,
.NNTitle:hover,
.NNTitle:visited:hover
{color:#990000;text-decoration:none;}



